.slick-dots {
    bottom: -30px;
  }
  .carousel-container {
    height: 900px; /* Set the desired height */
  }
  
  .carousel-container img {
    height: 100%;
    object-fit: cover; /* Ensures the image fits well within the container */
  }
  
  .slick-dots li button:before {
    color: white;
    font-size: 10px;
  }
  .slick-dots li.slick-active button:before {
    color: #a855f7;
  }
  